
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td{
	width:45px;
}
thead{
	text-align:left;
	background-color:rgb(191, 80, 77)
}
tbody{
	text-align:right
}
.dress{
	text-align:left;
}